/*Geral*/
* {
  margin:0;
  padding:0;
  text-decoration: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
}
span {
  margin:0 2px;
  max-width: 1ch;
}
button {
  background-color: blue;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: none;
  border-radius:5px;
  font-size:16px;
  transition: 0.3s;
  color:white;
}

/*Início*/

.escondido {
  display:none;
}

/*Header*/
.header {
  display: flex;
  padding:45px 0 40px 40px;
  align-items: flex-end;
  gap:50px;
}
.header button {
  padding:10px 20px;
  font-size:14px;
}
.header button:hover {
  transform: translateY(2px);
  box-shadow: none;
}

/*Menu*/
.menu button {
  padding:30px 50px;
}
.menu button:hover {
  transform: translateY(2px);
  box-shadow: none;
}
.menu {
  margin-top:90px;
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:30px;
}

/*Adicionar Palavra*/
.palavra {
  margin:65px auto;
  max-width: 900px;
}
.palavra input{
  margin-left:10px;
  max-width:225px;
  padding:5px 15px 5px 5px;
  color:#0a3871;
  border:none;
  font-size:24px;
  background-color:#f7f7f7;
  resize: none;
}
.palavra input::placeholder{
  font-size:24px;
  color:#0a3871;
  font-family: Arial, Helvetica, sans-serif;
}
.palavra button {
  margin:5px 0 10px 10px;
  padding:20px 65px;
}
.palavra button:hover {
  transform: translateY(2px);
  box-shadow: none;
}
.aviso {
  margin-top:70px;
  margin-left:10px;
  display: flex;
  gap:10px;
  align-items: center;
  color:#495057;
}

/*Footer*/
.footer {
  font-size: 15px;
	width: 100%;
	background-color: #0a3871;
	padding: 16px 0 10px 0;
	position: fixed;
	bottom: 0;
}
.footer p {
  text-align: center;
  color: white;
  margin-top:15px;
  font-weight: bold;
}
.footer section{
  margin-bottom:10px;
  display: flex;
  justify-content: center;
  gap:15px;
}

/*Jogo*/
.jogo-content {
  display:flex;
  justify-content: center;
  margin-top:10px;
  gap: 30px;
  flex-wrap: wrap-reverse;
}
.forca img {
  display: none;
}
div section .selected {
  display: inline-block;
  /* background-color: red; */
}
/* .erros div{
  text-align: center;
  max-width: 10ch;
  padding:10px 30px 15px;
  color:darkblue;
  font-weight:bold ;
  border:3px blue solid;
  border-radius:5px;
  background-color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} */
.erros div h4 {
  margin-bottom:8px;
}